@font-face {
  font-family: "Title";
  src: url("/Fonts/Curva.ttf");
}

@font-face {
  font-family: "Body";

  src: url("/Fonts/CercoDEMO-Regular.otf");
}

h1 {
  /* font-family: "Title"; */
  font-family: "Roboto", sans-serif;
}

h2 {
  /* font-family: "Title"; */
  font-family: "Roboto", sans-serif;
}

h3 {
  /* font-family: "body"; */
  font-family: "Roboto", sans-serif;
  /* src: url("/Fonts/TT\ Rounds\ Neue\ Trial\ Regular.ttf"); */

  font-family: "Body";

  src: url("/Fonts/TT\ Rounds\ Neue\ Trial\ Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #ffddd2;
}

.bodyFont {
  font-family: "Body";
}

.commentary {
  border: 1px solid black;
}

/*Styling the Navbar */

/* .top-navbar {
  width: 100%;
  height: 8vh;
  background-color: #006d77;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  color: #edf6f9;
  text-decoration: none;

  font-family: "Body";
  text-decoration: none;
}

.top-navbar img {
  width: 100%;
}

.top-navbar a {
  color: #edf6f9;

  font-family: "Body";
}

.top-navbar div {
  font-family: "Body";
}

.top-navbar-component {
  align-self: center;
} */

/* 
STYLING NAV BAR SIDEBAR
*/

.navbar-container {
  position: relative;
  z-index: 10;
}

.logo {
  padding: 0 0 0 0.6rem;
  width: 100%;
}

.menu-button {
  cursor: pointer;
  padding: 10px;
  background-color: #006d77;
  color: white;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Body";
}

.menu-button p {
  color: white;
  font-family: "Body";
}

.underClass {
  display: flex;
  width: 20%;
}

/* .menu-button p {
  width: fit-content;
} */

.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* Hide the sidebar by default */
  width: 250px;
  /* height: 100vh; */
  background-color: #006d77;
  color: white;
  transition: left 0.3s ease;

  border-radius: 0 0 15px 0;

  font-family: "Body";
}

.sidebar.open {
  left: 0; /* Display the sidebar when open */
}

.sidebar-header {
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
}

.sidebar-icon {
  width: 20px;
  height: 20px;
  filter: hue-rotate(180deg);
}

.sidebar-content {
  padding: 20px;
}

.sidebar-link {
  display: block;
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
}

.sidebar-link:hover {
  text-decoration: underline;
}

.money {
  color: white;
}

.bottom-navbar-component {
  font-family: "Body";
}

.bullet-points {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.profilepicAndwallet {
  display: flex;
}

.profile-pic {
  width: 10%;
}

.provider-services {
  font-family: "Body";
}

/* Styling the search page*/

.arrow-right {
  width: 25px;
  padding: 5px;
}

.page-title {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Title";
}

.indications {
  font-family: "Body";
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 0 0.5rem;
}

.category-buttons {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.category-buttons button {
  font-family: "Body";
  font-size: 1rem;
  font-weight: 900;
  box-shadow: 3px 3px 3px black;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0.6rem;
  padding: 1rem;
}

.request-container {
  display: flex;
}

/* Styling the category page*/

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Title";
  padding: 1rem;
}

.bullet-points {
  margin: 0.5rem;
}

.bullet-points button {
  font-family: "Body";
  font-size: 0.9rem;
  font-weight: 600;
  box-shadow: 3px 3px 3px black;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0.3rem;
  padding: 1rem;
}

/* Styling the results page*/

.results {
  background-color: #edf6f9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Body";
  font-weight: 900;
  height: 10vh;
  border: 3px solid black;
  border-radius: 10px;
  margin: 1rem;
  text-decoration: none;
  color: black;
}

.results a {
  color: black;
}

/* styling the request page */

.request-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "body";
}

.form-request-context {
  display: flex;
  margin: 0.5rem;
  align-items: center;
}

.form-request-context label {
  margin: 0.5rem 1rem;
  text-align: center;
}

.request-button {
  margin: 1.5rem;
  padding: 1rem;
  font-family: "Body";
  border-radius: 10px;
  background-color: #edf6f9;
}

.form-request-context input {
  font-family: "Body";
  border-radius: 10px;
  padding: 0.5rem;
}

.form-request-context textarea {
  font-family: "Body";
  border-radius: 10px;
  padding: 0.5rem;
  height: 15vh;
  border: 1.5px solid black;
}

.request-paths {
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.request-paths button {
  font-family: "Body";
  font-size: 1rem;
  font-weight: 900;
  box-shadow: 3px 3px 3px black;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2rem;
  border-radius: 10px;
}

/* Styling the requests pages */

.request-received {
  padding: 1rem;
  background-color: #edf6f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Body";
  border: 3px solid black;
  border-radius: 10px;
  margin: 1rem;
  text-decoration: none;
  color: black;
}

.request-received button {
  margin: 0.2rem;
  height: 17vh;
  font-family: "Body";
  font-size: 1rem;
  font-weight: 900;
  box-shadow: 3px 3px 3px black;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #83c5be;
}

.request-buttons {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.divider-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.divider {
  background-color: #e29578;
  height: 1px;
  width: 70%;
}
/* Profile style */

.modifyProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh;
  margin: 3rem;
  font-family: Body;
}

.form-container {
  margin-bottom: 20px;
  text-align: center;
}

.form-container input {
  width: 80%;
}

.form-container button {
  border-radius: 5px;
  background-color: #83c5be;
  font-family: Body;
}

.profile-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.profile-info img {
  width: 35%;
  height: 35%;
  margin: 1rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 5px solid #006d77;
}

.profile-info h2 {
  font-size: 2rem;
}

.profile-right {
  align-items: center;
  justify-content: center;
}

.center {
  text-align: center;
}

.profile-info div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.barterbucks {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #e29578;
  aspect-ratio: 1;
  font-family: "Body";
  font-weight: bold;
}

.category-buttons {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Body";
}

.category-buttons button {
  font-family: "Body";
  font-size: 1rem;
  font-weight: 900;
  box-shadow: 2px 2px 2px black;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0.2rem;
  padding: 0.5rem;
}

.category-buttons button.active {
  background-color: #e29578;
  color: white;
}

.categories {
  margin: 0.5rem;
}

.categories h2 {
  text-align: center;
}

.close-icon {
  width: 1.5rem;
}

.modifyBtn {
  font-family: "Body";
  font-size: 1rem;
  font-weight: 900;
  box-shadow: 2px 2px 2px black;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0.2rem;
  padding: 0.5rem;
  background-color: #83c5be;
}

.modifyDiv {
  display: flex;
  justify-content: center;
}

.services {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
  width: 100vw;
}

.services div {
  font-family: "Body";
}

.switch {
  text-align: center;
}

.logout button {
  font-family: "Body";
  font-size: 1rem;
  font-weight: 900;
  box-shadow: 2px 2px 2px black;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0.2rem;
  padding: 0.5rem;
  background-color: #e29578;
}

.logout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.textarea {
  margin: 0.5rem;
}

/* DISCUSSIONS  */

.chat-bubble {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  border-radius: 20px;
  background-color: #e0e0e0;
  max-width: 80%;
  margin-bottom: 10px;
}

.chat-name {
  padding-bottom: 0.4rem;
}

.margin {
  margin: 0.7rem;
}

.request-discussion {
  text-align: center;
}

.textarea-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textarea-container textarea {
  width: 80vw; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
}

.textarea-container button {
  height: 50px;
  padding: 0.2rem;
  margin: 0.2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  box-shadow: 2px 2px 2px black;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0.2rem;
  padding: 0.5rem;
  background-color: #e29578;
}

/* Styling the current services*/

.current-mission-content {
  height: 20vh;
  font-family: "Body";
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.current-mission-content div {
  text-align: center;
}
.current-mission-content label {
  margin: 0 2rem;
  text-align: center;
}

.current-mission-buttons {
  margin: 1rem;
  display: flex;
  justify-content: space-around;
}

.current-mission-buttons button {
  font-family: "Body";
  font-size: 1rem;
  font-weight: 900;
  box-shadow: 2px 2px 2px black;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0.2rem;
  padding: 0.5rem;
}

/* Styling the negociate page*/

.negociate-content {
  font-family: "Body";
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.negociate-content div {
  margin: 0.5rem;
}
.negociate-content input {
  margin: 1rem 0 1rem 0;
  font-family: "Body";
  width: 100%;
}

.negociate-content button {
  font-family: "Body";
  font-size: 1rem;
  font-weight: 900;
  box-shadow: 2px 2px 2px black;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0.2rem;
  padding: 0.5rem;
}

/* Styling the login*/

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form-element {
  display: flex;
  justify-content: center;
  margin: 1rem;
  font-family: "Body";
}

.login-form button {
  font-family: "Body";
  font-size: 1rem;
  font-weight: 900;
  box-shadow: 2px 2px 2px black;
  border: 1px solid black;
  border-radius: 10px;
  margin: 1rem 0 0.2rem;
  padding: 0.5rem;
  width: 85%;
}

.login-button {
  display: flex;
  justify-content: center;
}

.login-form-element input {
  margin: 0 1rem;
}

.link-to-signup {
  margin: 1rem;
  font-family: "Body";
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling the homepage */

.homepage-indications {
  margin: 1.5rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.title span {
  margin: 0 0.3rem;
  width: 40%;
}

.title img {
  width: 100%;
}

.homepage-text-content {
  text-align: center;
  padding: 1rem;
  font-family: "Body";
}

.not-enough-bb {
  font-family: "Body";
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.not-enough-bb button {
  font-family: "Body";
  font-size: 1rem;
  font-weight: 900;
  box-shadow: 2px 2px 2px black;
  border: 1px solid black;
  border-radius: 10px;
  margin: 1rem 0 0.2rem;
  padding: 0.5rem;
  width: 85%;
}

.delete-commentary img {
  width: 8%;
}
